.MuiPaper-root.MuiExpansionPanel-root {
    background-color: transparent;
}
.badge-region{
    span:first-child{
        margin-left: 15px;
    }
    span{
        background-color: $brand-info;
        border-radius: 5px;
        padding: 2px 4px;
        color: white;
        font-size: .8em;
        margin-left: 7px;

        svg{
            color: white;
        }
    }
}

.bubble-msg{
    max-width: 450px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #dedede;

    svg.reply-btn{
        float: right;
        margin-top: -5px;
        margin-right: -40px;
        cursor: pointer;
    }
    span{
        padding-bottom: 50px;
        font-weight: bold;


    }
    .bubble-msg{
        max-width: 300px;
        background-color: #eee;
        margin: 0 10px 10px 10px;
        color: black;
    }
    .float-right-btn{
        float: right;
        cursor: pointer;
        margin-top: -20px;
    }
}

.chat-conversation{
    height: 500px;
    overflow-y:scroll;
    overflow-x: hidden;

    .chat-image{
        max-width: 380px;
        max-height: 200px;
    }
    .image-cover{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s;

        svg{
            visibility: hidden;
            transition: 0.2s;

        }
        &:hover{
            visibility: visible;
            background: #000000bb;
            svg{
                visibility: visible;
                font-size: 2em;
                color: white;
            }
        }

    }
    .bubble-msg.current-user {
        display: block;
        margin-left: auto;
        margin-right: 20px;
        background-color: $brand-success;
        color: white;
    }
}

.spinner{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;

    & > div {
        margin-left: -50px;
        margin-top: -50px;
    }
}

.chat-text-box{
    display: flex;
    align-items: center;


    button{
        width: 75px;
        height: 75px;
        padding: 5px;
    }
}

.external-members-list{
    span{
        margin: 0 5px;
    }
    .add-external{
        display: inline-block;
    }
}

table.iconico-gantt{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 20px;
    empty-cells: show;
    margin-top: 20px;

    tr{
        // padding: 30px 30px;
        &.active{
            & td:first-child{
                border-left: 5px solid #1BBED3;
            }
        }
    }

    th{
        overflow: visible;
        white-space: nowrap;
        max-width: 20px;
        text-align: left;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;

    }
    th.time-mark > div{
        margin-left: -21px;
    }
     td.time-mark{
        border-left: 1px solid #000;
    }

    td{
        border: none;
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;

        > div{
            position: relative;
            min-width: 20px;
            min-height: 20px;
            max-height: 20px;

            > svg{
                font-size: 1.4em;
                color: white;
            }

            &.done {
                background-color: $brand-success;
            }
            &.in-progress {
                background-color: $brand-danger;
            }
            &.todo {
                background-color: $brand-warning;
            }
        }

        &:first-child{
            border-left: 5px solid transparent;
            padding-left: 3px;
            // max-width: 10em;
            min-width: 10em;
            width: 15em;
        }

        &.done {
            background-color: $brand-success;
        }
        &.in-progress {
            background-color: $brand-danger;
        }
        &.todo {
            background-color: $brand-warning;
        }
    }
}

.grantt-header{
    .MuiGrid-item > button{
        margin-top: 20px;
    }
}


.bg-success{
    background-color: $brand-success !important;
}
.bg-danger {
    background-color: $brand-danger !important;
}
.bg-danger-lite {
    background-color: #f7beba !important;
}
.bg-warning {
    background-color: $brand-warning !important;
}
.bg-primary {
    background-color: $brand-primary !important;
}
.bg-info {
    background-color: $brand-info !important;
}
.bg-rose {
    background-color: $brand-rose !important;
}

.tab-button{
    float: right;
    color: white !important;
    border-color: white !important;
}

.folder-section{
    .folder-controls{
        padding-top: 10px;
        padding-bottom: 20px;

        .flex-all{
            display: flex;
            margin: 20px 0;
            justify-content: space-between;



            .folder-element{
                display: inline-flex;
                margin-right: 10px;

            }
        }
        .flex-fav{
            display: flex;
            margin: 20px 0;

            .folder-element{
                display: inline-flex;
                margin-right: 10px;

            }
        }
    }

    .add-folder{
        float: right;
        margin-top: -20px;
    }

    .folder-title{
        button{
            float: right;
        }

        h3 > svg{
            padding-top: 2px;
        }
    }
}

.member-list-section{
    margin-left: 20px;
    padding-bottom: 10px;
    h5{
        margin-left: -10px;
    }

}

.status{
    font-weight: bold;

    &.done{
        color: $brand-success;
    }
    &.in-progress{
        color: $brand-warning;
    }
    &.blocked{
        color: $brand-danger;
    }
}
